<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="https://www.kindpng.com/picc/m/107-1075401_icone-pokemon-go-hd-png-download.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- if statement for title -->
        <title>{{title}}</title>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
